#displayNews .news-image,
#editNews .news-image{
    height: 200px;
}

#displayNews .news-tags {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.repsponsive-centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag-badge{
    position: relative!important;
    border-radius: 2px!important;
    padding: 5px!important;
    margin-right: 5px!important;
}

.szs-alert {
    display: none;
}

.modal-header {
    border-radius: 10px 10px 0 0;
}

.modal-footer {
    border-radius: 10px 10px 0 0;
}

#displayNews .modal-title {
    margin-right: 20px;
}

#displayNews .modal-header .close {
    position: absolute;
    right: 17px;
}

.info-upload-slike {
    font-size: 10px;
    font-weight: 300;
    margin: 0;
    padding: 2px;
    line-height: 1em;
    text-align: right;
}

.modal-body label {
    font-size: 13px;
}

.sadrzaj-slike {
    text-align: right;
}

.selectize-input {
    padding: 5px 12px 2px!important;
    height: auto;
}

.error {
    color: red;
}

#editNewsServerErrors {
    display: none;
}