#displayNews .news-image,
#editNews .news-image{
    height: 200px;
}

#displayNews .news-tags {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.repsponsive-centered-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag-badge{
    position: relative!important;
    border-radius: 2px!important;
    padding: 5px!important;
    margin-right: 5px!important;
}

.szs-alert {
    display: none;
}

.modal-header {
    border-radius: 10px 10px 0 0;
}

.modal-footer {
    border-radius: 10px 10px 0 0;
}

.modal-title {
    margin-right: 20px;
}

.modal-header .close {
    position: absolute;
    right: 17px;
}

.info-upload-slike {
    font-size: 10px;
    font-weight: 300;
    margin: 0;
    padding: 2px;
    line-height: 1em;
    text-align: right;
}

.modal-body label {
    font-size: 13px;
}

.sadrzaj-slike {
    text-align: right;
}

.selectize-input {
    padding: 5px 12px 2px!important;
    height: auto;
}

.error {
    color: red!important;
}

#editNewsServerErrors,
#editPlayerServerErrors{
    display: none;
}

#displayPlayer .player-image,
#displayObject .object-image{
    height: 200px;
}

#editPlayer .player-image,
#editObject .object-image{
    width: 200px;
    height: 200px;
    margin: 15px;
}

.custom-box-row {
    padding: 20px 10px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
}

.modal-dialog {
    width: auto;
    margin: 0;
}

.sidebar ul li.active {
    background: none;
}

.tab-pane {
    padding: 5px 25px!important;
}

.not-visible{
    visibility: hidden!important;
    width: 0!important;
    height: 0!important;
}

.licnostHover,
.nagradaHover,
.historyHover,
.terenHover,
.balonCjenovnikHover,
.stazeHover,
.skiCjenovnikHover{
    position: relative;
    margin-bottom: 15px;
}

.izbrisiLicnost,
.izbrisiNagradu,
.izbrisiHistory,
.izbrisiTeren,
.izbrisiBalonCjenovnik,
.izbrisiStazu,
.izbrisiSkiCjenovnik{
    font-size: 20px;
    opacity: 0;
    transition: 0.2s opacity ease-in;
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 100;
}

.licnostHover:hover .izbrisiLicnost,
.nagradaHover:hover .izbrisiNagradu,
.historyHover:hover .izbrisiHistory,
.terenHover:hover .izbrisiTeren,
.balonCjenovnikHover:hover .izbrisiBalonCjenovnik,
.stazeHover:hover .izbrisiStazu,
.skiCjenovnikHover:hover .izbrisiSkiCjenovnik{
    opacity: 1;
}

.izbrisiLicnost:hover,
.izbrisiNagradu:hover,
.izbrisiHistory:hover,
.izbrisiTeren:hover,
.izbrisiBalonCjenovnik:hover,
.izbrisiStazu:hover,
.izbrisiSkiCjenovnik:hover{
    color: #f49222;
}

.btn-spasi {
    font-size: 15px;
    padding: 20px 12px;
    font-weight: bold;
    line-height: 0px;
    background: #26a69a;
    color: #fff;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.slika-upload-klub {
    width: 100%;
    object-fit: contain;
    height: 250px;
    margin: 0 auto;
}

.album__item {
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 0;
    box-sizing: border-box;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #ddd;
    background: #26a69a;
    color: #fff;
}

.info001 {
    margin-top: 10px;
}

.flow-icons-013 {
    height: 14px;
    width: 14px;
}

.newly-added {
    position: relative;
}

.newly-added .hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #26a69a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: relative;
    margin-left: -20px;
    opacity: 1;
    left: auto;
    margin-top: 0;
}

.nav-tabs.nav-justified>li>a small {
    display: block;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after,
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label{
    display: none!important;
}